<div class="page-content-wrapper">
  <h1>¡Bienvenido a la página de Inicio!</h1>
  <div class="ctn-button">
    <button routerLink="/productos" routerLinkActive="active" class="btn"> Productos
    </button>
    <button routerLink="/categorias" routerLinkActive="active" class="btn"> Categorias
    </button>
    <button routerLink="/ventas" routerLinkActive="active" class="btn"> Ventas
    </button>
    <button routerLink="/reportes" routerLinkActive="active" class="btn"> Reportes
    </button>
    <button routerLink="/usuario" routerLinkActive="active" class="btn"> Usuarios
    </button>
    <button routerLink="/cliente" routerLinkActive="active" class="btn"> Clientes
    </button>
  </div>


  <h2>Ventas Mensuales</h2>
  <div #chart></div>

  <h2>Categoria mas vendida</h2>
  <div #radarChart></div>

</div>

