<div class="reportes-container">

  <h1>Reportes Estadísticos</h1>

  <div class="reportes-grid">


    <section class="section-box">
      <h2>Ventas por mes</h2>
      <div #ventasMesChart></div>
    </section>


    <section class="section-box">
      <h2>Productos más vendidos</h2>
      <div #productosVendidosChart></div>
    </section>


    <section class="section-box">
      <h2>Ventas por departamento</h2>
      <div #ventasDepartamentoChart></div>
    </section>


    <section class="section-box">
      <h2>Gravadas vs No Gravadas</h2>
      <div #gravadasChart></div>
    </section>


    <section class="section-box">
      <h2>Tipo de pago de clientes</h2>
      <div #tipoPagoChart></div>
    </section>

  </div>

</div>
