<div class="login-wrapper">
  <div class="login-box">
    <h2>Restablecer Contraseña</h2>
    <p class="instruction-text">Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
    <form (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" placeholder="ejemplo@correo.com" [(ngModel)]="email" name="email" required />
      </div>

      <button type="submit">Enviar codigo de Restablecimiento</button>
      <p class="forgot" routerLink="/login" routerLinkActive="active">Volver al inicio de sesión</p>
    </form>
  </div>
</div>
